@{
    ViewData["Title"] = "Home Page";
}
@model Connect4.Models.Torneio
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

    <div class="text-center">
        @if (!SignInManager.IsSignedIn(User))
        {
            <h1 class="display-4">Bem vindo</h1>
            <p>Faça seu login ou cadastro para poder jogar</p>

        }
        else
        {
            <br><br><br>
            <a class="btn btn-success" asp-area="" asp-controller="Jogo" asp-action="CriarJogoPessoa">Criar Jogo (Contra pessoa)</a>
            <br><br>
            @if ((int) ViewData["QuantidadeMaquinas"] > 0)
            {
                <a class="btn btn-success" asp-area="" asp-controller="Jogo" asp-action="CriarJogoMaquina">Criar Jogo (Contra Máquina)</a>
                <br><br>
            }
            <a class="btn btn-success" asp-area="" asp-controller="Jogo" asp-action="ContinuarJogo">Continuar Jogo</a>
        }
    </div>
